/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #8a2be2; /* Lilás */
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Seção de detalhes da casa */
.house-details {
    background: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.house-details h2 {
    font-size: 24px;
    color: #8a2be2;
}

.house-details p {
    text-align: left;
}

.house-details ul {
    list-style: none;
    padding: 0;
}

.house-details ul li::before {
    content: "\2022"; /* Adiciona um marcador de bola antes de cada item da lista */
    margin-right: 10px;
    color: #8a2be2;
}

.house-details a.btn {
    background: #8a2be2; /* Lilás */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
}

.house-details a.btn:hover {
    background: #6a1c9e; /* Lilás mais escuro para hover */
}

/* Sobre nós */
.about-us {
    background: #fff;
    padding: 20px;
    text-align: center;
}

/* Contato */
.contact {
    background: #8a2be2; /* Lilás */
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Rodapé */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilos específicos para links */
a {
    color: #8a2be2; /* Lilás para links */
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #6a1c9e; /* Lilás mais escuro para links em hover */
}

